.auth {
  margin: 5rem auto;
  box-shadow: 0 1px 9px rgba(250, 4, 4, 0.66);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #dbd6e3;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0.5rem;

}

.control input {
  display: block;
  width: 20rem;
  margin: auto;
  border-radius: 4px;
  padding: 0.25rem;
  border: 1px solid #ccc;
}

.control button {
  margin: auto;
  border-radius: 8px;
  padding: 8px;
  padding-right:20px;
  padding-left: 20px;
  border: 1px solid #ccc;
  color: #ffffff;
  background: #3c0080;
}
